DATOS ALEATORIOS

In [2]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,A,B,C,D,E,F
1,NaN,0.334049,0.658156,0.155693,0.686354,0.607361,0.327722
2,NaN,0.362466,0.601741,0.976793,0.12183,0.455084,0.346714
3,NaN,0.112904,0.196786,0.432125,0.448605,0.502882,0.313789
4,NaN,0.185258,0.547969,0.291058,0.376272,0.743209,0.299683